/* 100-thin
200-extra light 
300-light
400-normal
500-extra light
600-semi bold 
700-bold
800-  */
* {
    padding: 0;
    margin: 0;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    background-color: #fdcb6e;
    color: white;
}
.header .menu {
    display: flex;
    list-style: none;
    
    
}
.header .menu li {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: .3s;
}
.header .menu li:hover {
    background-color: white;
    color: orangered;
    
}
.main {
    width: 100%;
}
.main .container {
    width: 800px;
    height: 300px;
    background-color: blue;
    margin: auto;
}